@charset "UTF-8";
.wp_minchu_of-h {
  overflow: hidden;
}
.wp_minchu_p-r {
  position: relative;
}
.wp_minchu_ w-100per {
  width: 100%;
}
.wp_minchu_ h-a {
  height: auto;
}
.wp_minchu_mlr-a {
  margin-left: auto;
  margin-right: auto;
}
.wp_minchu_ml-a {
  margin-left: auto;
}
.wp_minchu_mr-a {
  margin-right: auto;
}
.wp_minchu_mt0 {
  margin-top: 0px;
}
.wp_minchu_mt1 {
  margin-top: 1px;
}
.wp_minchu_mt5 {
  margin-top: 5px;
}
.wp_minchu_mt10 {
  margin-top: 10px;
}
.wp_minchu_mt15 {
  margin-top: 15px;
}
.wp_minchu_mt20 {
  margin-top: 20px;
}
.wp_minchu_mt30 {
  margin-top: 30px;
}
.wp_minchu_mt35 {
  margin-top: 35px;
}
.wp_minchu_mt40 {
  margin-top: 40px;
}
.wp_minchu_mt50 {
  margin-top: 50px;
}
.wp_minchu_mt60 {
  margin-top: 60px;
}
.wp_minchu_mt70 {
  margin-top: 70px;
}
.wp_minchu_mt80 {
  margin-top: 80px;
}
.wp_minchu_mt90 {
  margin-top: 90px;
}
.wp_minchu_mt100 {
  margin-top: 100px;
}
.wp_minchu_ml1 {
  margin-left: 1px;
}
.wp_minchu_ml5 {
  margin-left: 5px;
}
.wp_minchu_ml10 {
  margin-left: 10px;
}
.wp_minchu_ml15 {
  margin-left: 15px;
}
.wp_minchu_ml20 {
  margin-left: 20px;
}
.wp_minchu_ml30 {
  margin-left: 30px;
}
.wp_minchu_ml40 {
  margin-left: 40px;
}
.wp_minchu_ml50 {
  margin-left: 50px;
}
.wp_minchu_ml60 {
  margin-left: 60px;
}
.wp_minchu_ml65 {
  margin-left: 65px;
}
.wp_minchu_ml70 {
  margin-left: 70px;
}
.wp_minchu_ml80 {
  margin-left: 80px;
}
.wp_minchu_ml90 {
  margin-left: 90px;
}
.wp_minchu_ml100 {
  margin-left: 100px;
}
.wp_minchu_mr1 {
  margin-right: 1px;
}
.wp_minchu_mr5 {
  margin-right: 5px;
}
.wp_minchu_mr10 {
  margin-right: 10px;
}
.wp_minchu_mr15 {
  margin-right: 15px;
}
.wp_minchu_mr20 {
  margin-right: 20px;
}
.wp_minchu_mr30 {
  margin-right: 30px;
}
.wp_minchu_mr35 {
  margin-right: 35px;
}
.wp_minchu_mr40 {
  margin-right: 40px;
}
.wp_minchu_mr50 {
  margin-right: 50px;
}
.wp_minchu_mr60 {
  margin-right: 60px;
}
.wp_minchu_mr70 {
  margin-right: 70px;
}
.wp_minchu_mr80 {
  margin-right: 80px;
}
.wp_minchu_mr90 {
  margin-right: 90px;
}
.wp_minchu_mr100 {
  margin-right: 100px;
}
.wp_minchu_mb1 {
  margin-bottom: 1px;
}
.wp_minchu_mb5 {
  margin-bottom: 5px;
}
.wp_minchu_mb10 {
  margin-bottom: 10px;
}
.wp_minchu_mb15 {
  margin-bottom: 15px;
}
.wp_minchu_mb20 {
  margin-bottom: 20px;
}
.wp_minchu_mb25 {
  margin-bottom: 25px;
}
.wp_minchu_mb30 {
  margin-bottom: 30px;
}
.wp_minchu_mb35 {
  margin-bottom: 35px;
}
.wp_minchu_mb40 {
  margin-bottom: 40px;
}
.wp_minchu_mb50 {
  margin-bottom: 50px;
}
.wp_minchu_mb60 {
  margin-bottom: 60px;
}
.wp_minchu_mb70 {
  margin-bottom: 70px;
}
.wp_minchu_mb80 {
  margin-bottom: 80px;
}
.wp_minchu_mb90 {
  margin-bottom: 90px;
}
.wp_minchu_mb100 {
  margin-bottom: 100px;
}
.wp_minchu_mb130 {
  margin-bottom: 130px;
}
.wp_minchu_mb140 {
  margin-bottom: 140px;
}
.wp_minchu_mb160 {
  margin-bottom: 160px;
}
.wp_minchu_p35 {
  padding: 35px;
}
.wp_minchu_p40 {
  padding: 40px;
}
.wp_minchu_pt5 {
  padding-top: 5px;
}
.wp_minchu_pt10 {
  padding-top: 10px;
}
.wp_minchu_pt15 {
  padding-top: 15px;
}
.wp_minchu_pt20 {
  padding-top: 20px;
}
.wp_minchu_pt30 {
  padding-top: 30px;
}
.wp_minchu_pt40 {
  padding-top: 40px;
}
.wp_minchu_pt50 {
  padding-top: 50px;
}
.wp_minchu_pt60 {
  padding-top: 60px;
}
.wp_minchu_pt65 {
  padding-top: 65px;
}
.wp_minchu_pt70 {
  padding-top: 70px;
}
.wp_minchu_pt80 {
  padding-top: 80px;
}
.wp_minchu_pt90 {
  padding-top: 90px;
}
.wp_minchu_pt100 {
  padding-top: 100px;
}
.wp_minchu_pt120 {
  padding-top: 120px;
}
.wp_minchu_pt130 {
  padding-top: 130px;
}
.wp_minchu_pt170 {
  padding-top: 170px;
}
.wp_minchu_pt350 {
  padding-top: 350px;
}
.wp_minchu_pl5 {
  padding-left: 5px;
}
.wp_minchu_pl10 {
  padding-left: 10px;
}
.wp_minchu_pl20 {
  padding-left: 20px;
}
.wp_minchu_pl30 {
  padding-left: 30px;
}
.wp_minchu_pl35 {
  padding-left: 35px;
}
.wp_minchu_pl40 {
  padding-left: 40px;
}
.wp_minchu_pl45 {
  padding-left: 45px;
}
.wp_minchu_pl50 {
  padding-left: 50px;
}
.wp_minchu_pl60 {
  padding-left: 60px;
}
.wp_minchu_pl70 {
  padding-left: 70px;
}
.wp_minchu_pl80 {
  padding-left: 80px;
}
.wp_minchu_pl90 {
  padding-left: 90px;
}
.wp_minchu_pl100 {
  padding-left: 100px;
}
.wp_minchu_pr5 {
  padding-right: 5px;
}
.wp_minchu_pr10 {
  padding-right: 10px;
}
.wp_minchu_pr20 {
  padding-right: 20px;
}
.wp_minchu_pr30 {
  padding-right: 30px;
}
.wp_minchu_pr40 {
  padding-right: 40px;
}
.wp_minchu_pr50 {
  padding-right: 50px;
}
.wp_minchu_pr60 {
  padding-right: 60px;
}
.wp_minchu_pr70 {
  padding-right: 70px;
}
.wp_minchu_pr80 {
  padding-right: 80px;
}
.wp_minchu_pr90 {
  padding-right: 90px;
}
.wp_minchu_pr100 {
  padding-right: 100px;
}
.wp_minchu_pb5 {
  padding-bottom: 5px;
}
.wp_minchu_pb10 {
  padding-bottom: 10px;
}
.wp_minchu_pb20 {
  padding-bottom: 20px;
}
.wp_minchu_pb30 {
  padding-bottom: 30px;
}
.wp_minchu_pb35 {
  padding-bottom: 35px;
}
.wp_minchu_pb40 {
  padding-bottom: 40px;
}
.wp_minchu_pb50 {
  padding-bottom: 50px;
}
.wp_minchu_pb60 {
  padding-bottom: 60px;
}
.wp_minchu_pb70 {
  padding-bottom: 70px;
}
.wp_minchu_pb80 {
  padding-bottom: 80px;
}
.wp_minchu_pb90 {
  padding-bottom: 90px;
}
.wp_minchu_pb100 {
  padding-bottom: 100px;
}
.wp_minchu_pb140 {
  padding-bottom: 140px;
}
.wp_minchu_pb160 {
  padding-bottom: 160px;
}
.wp_minchu_pb180 {
  padding-bottom: 180px;
}
.wp_minchu_pb190 {
  padding-bottom: 190px;
}
.wp_minchu_pb260 {
  padding-bottom: 260px;
}
.wp_minchu_pb350 {
  padding-bottom: 350px;
}
.wp_minchu_fl {
  float: left;
}
.wp_minchu_fr {
  float: right;
}
.wp_minchu_d-b {
  display: block;
}
.wp_minchu_d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wp_minchu_d-f-fs-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.wp_minchu_d-f-fs-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wp_minchu_d-f-ce-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.wp_minchu_d-f-ce-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wp_minchu_flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wp_minchu_ls-02 {
  letter-spacing: -0.2px;
}
.wp_minchu_ls-1 {
  letter-spacing: -1px;
}
.wp_minchu_ls-2 {
  letter-spacing: -2px;
}
.wp_minchu_ls1 {
  letter-spacing: 1px;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .wp_minchu_ls1 {
    letter-spacing: 1.5px;
  }
}
@supports (-ms-ime-align: auto) {
  .wp_minchu_ls1 {
    letter-spacing: 1.5px;
  }
}
.wp_minchu_ls2 {
  letter-spacing: 2px;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .wp_minchu_ls2 {
    letter-spacing: 2.5px;
  }
}
@supports (-ms-ime-align: auto) {
  .wp_minchu_ls2 {
    letter-spacing: 2.5px;
  }
}
.wp_minchu_wb-ka {
  word-break: keep-all;
}
.wp_minchu_ta-c {
  text-align: center;
}
.wp_minchu_ta-l {
  text-align: left;
}
.wp_minchu_ta-r {
  text-align: right;
}
.wp_minchu_f-white {
  color: white;
}
.wp_minchu_yumincho {
  /* 游明朝体 */
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.wp_minchu_hiramin {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho";
}
